services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 8vT!pQ2@rXzLw9sA
      MYSQL_DATABASE: ecommerce
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    container_name: ecommerce-backend
    build: ./backend
    restart: always
    depends_on:
      - db
    ports:
      - "3001:3001"
    environment:
      JWT_SECRET: 966f7d97ca798d29c533dc7eb605f24cf006e5747182bd046e9eaeedf42e4c33
      DATABASE_URL: "mysql://root:8vT!pQ2@rXzLw9sA@db:3306/ecommerce"
    volumes:
      - ./backend:/app
      - /app/node_modules
  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_REACT_APP_BACKEND_BASEURL: "http://localhost:3001"
    command: ["npm", "run", "dev"]

volumes:
  db_data:
